name: Build and deploy .NET Core application to Web App faapi with API Management Service FinancialApplicationapi-FinancialApplication
on:
  push:
    branches:
    - main
env:
  AZURE_WEBAPP_NAME: faapi
  AZURE_WEBAPP_PACKAGE_PATH: FinancialApplication/publish
  AZURE_APIM_RESOURCE_PATH: /
  AZURE_APIM_RESOURCEGROUP: financialapplication
  AZURE_APIM_SERVICENAME: FinancialApplicationapi
  AZURE_APIM_API_ID: FinancialApplication
  AZURE_APIM_APPSERVICEURL: https://faapi.azurewebsites.net
  SWASHBUCLE_ASPNET_CORE_CLI_PACKAGE_VERSION: 6.2.3
  SWASHBUCKLE_DOTNET_CORE_VERSION: 7.0.x
  API_IMPORT_SPECIFICATION_PATH: FinancialApplication/publish/swagger.json
  API_IMPORT_DLL: FinancialApplication/bin/Release/net7.0/FinancialApplication.dll
  API_IMPORT_VERSION: v1
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 7.0.x
  WORKING_DIRECTORY: FinancialApplication
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: App Settings Variable Substitution
      uses: microsoft/variable-substitution@v1
      with:
        files: '${{env.WORKING_DIRECTORY}}/appsettings.json'
      env:
        Cloudinary.CloudName: ${{ secrets.CLOUDINARY_CLOUDNAME }}
        Cloudinary.ApiKey: ${{ secrets.CLOUDINARY_APIKEY }}
        Cloudinary.ApiSecret: ${{ secrets.CLOUDINARY_APISECRET }}
        Authentication.Google.ClientId: ${{ secrets.GOOGLE_CLIENTID }}
        Authentication.Google.ClientSecret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        Authentication.Google.MobileClientId: ${{ secrets.GOOGLE_MOBILE_CLIENTID }}
        ConnectionStrings.DefaultConnection: ${{ secrets.DB_CONNECTION }}
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
    - name: Setup SwashBuckle .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.SWASHBUCKLE_DOTNET_CORE_VERSION }}
    - name: Restore
      run: dotnet restore ${{ env.WORKING_DIRECTORY }}
    - name: Build
      run: dotnet build ${{ env.WORKING_DIRECTORY }} --configuration ${{ env.CONFIGURATION }} --no-restore
    - name: Test
      run: dotnet test ${{ env.WORKING_DIRECTORY }} --no-build
    - name: Publish
      run: dotnet publish ${{ env.WORKING_DIRECTORY }} --configuration ${{ env.CONFIGURATION }} --no-build --output ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
    - name: Publish Artifacts
      uses: actions/upload-artifact@v1.0.0
      with:
        name: webapp
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v2
      with:
        name: webapp
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.faapi_FFFF }}
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.FinancialApplicationapi_SPN }}
    - name: logout
      run: >
        az logout
